# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# Output of npm
npm-debug.log*

# Output of yarn
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Compiled binary addons (compiled for different OS/architecture combinations)
build/

